.container-sec-cadastro {
  display: flex;
  background-color: #3882F6;
  color: white;
  align-items: center;
  justify-content: space-around;
  margin: 80px;
  border-radius: 20px;
}
.sec-cadastro {
  padding: 80px 40px;
}
.titulo-sec-cadastro {
  font-size: 32px;
  font-weight: bold;
}

.botão-cadastro-dois {
  background-color:#3882F6;
  color: white;
  border: solid 2px;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 18px;
}
